<h2>{{title}}</h2>
<hr />
<div class="row">
  <div class="col-md-2">
    <ul class="metadata">
      <li *ngFor="let meta of metaArray" (click)="onSelect(meta)">
        {{meta.metaname}} <span class="badge" *ngIf="meta.selected > 0">{{meta.selected}}</span>
      </li>
    </ul>
  </div>
  <div class="col-md-10">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div *ngFor="let metaXTitle of metaArray" class="text-center">
          <span *ngIf="metaXTitle.selected == 1">{{metaXTitle.metaname}}</span>
        </div>
      </div>
      <table class="table table-hover table-bordered">
        <tr>
          <th rowspan="100" class="title"><div *ngFor="let metaYTitle of metaArray" class="rotate title text-center"><span *ngIf="metaYTitle.selected == 2">{{metaYTitle.metaname}}</span></div></th>
          <th class="small">#</th>
          <th *ngFor="let metaX of xArray">{{metaX}}</th>
        </tr>
        <tr *ngFor="let metaY of yArray; let i = index">
          <th>{{metaY}}</th>
          <td *ngFor="let data of generateViewData(i)" [ngStyle]="{'background-color': 'rgba('+ color + ',' + (data/maxValue) +')'}">{{data}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>