<h2>{{test}}</h2>
<div class="panel panel-default">
  <!--
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th class="small">#</th>
        <th>{{dataArray[0][1]}}</th>
        <th>MetaX2</th>
        <th>MetaX3</th>
        <th>MetaX4</th>
        <th>MetaX5</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>MetaY1</th>
        <td>Value</td>
        <td>Value</td>
        <td>Value</td>
        <td bgcolor="#91bbff">Value</td>
        <td>Value</td>
      </tr>
      <tr>
        <th>MetaY2</th>
        <td bgcolor="#dbe8ff">Value</td>
        <td>Value</td>
        <td>Value</td>
        <td bgcolor="#dbe8ff">Value</td>
        <td>Value</td>
      </tr>
      <tr>
        <th>MetaY3</th>
        <td>Value</td>
        <td>Value</td>
        <td bgcolor="#2176ff">Value</td>
        <td>Value</td>
        <td bgcolor="#2176ff">Value</td>
      </tr>
      <tr>
        <th>MetaY4</th>
        <td>Value</td>
        <td bgcolor="#91bbff">Value</td>
        <td>Value</td>
        <td>Value</td>
        <td>Value</td>
      </tr>
      <tr>
        <th>MetaY5</th>
        <td>Value</td>
        <td>Value</td>
        <td bgcolor="#2176ff">Value</td>
        <td>Value</td>
        <td>Value</td>
      </tr>
    </tbody>
  </table>-->
</div>