<h2>{{title}}</h2>
<hr />
<div class="row">
  <div class="col-md-2">
    <ul class="metadata">
      <li *ngFor="let meta of metaArray" (click)="onSelect(meta)">
        {{meta.metaname}} <span class="badge" *ngIf="meta.selected > 0">{{meta.selected}}</span>
      </li>
    </ul>
  </div>
  <div class="col-md-10">
    <div class="metaTitleX text-center">
      <div *ngFor="let metaXTitle of metaArray">
        <span *ngIf="metaXTitle.selected == 1">{{metaXTitle.metaname}}</span>
      </div>
    </div>
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th class="small">#</th>
          <th *ngFor="let metaX of xArray">{{metaX}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let metaY of generateViewY(); let i = index">
          <th>{{metaY}}</th>
          <td *ngFor="let data of generateViewData(i)" [ngStyle]="{'background-color': 'rgba('+ color + ',' + (data/maxValue) +')'}">{{data}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>